@font-face {
    font-family: "HelveticaBold";
    src: url(/assets/fonts/HelveticaNeueCyr-Bold.eot);
    src: url(/assets/fonts/HelveticaNeueCyr-Bold.ttf) format('truetype');
    src: url(/assets/fonts/HelveticaNeueCyr-Bold.woff) format('woff'); 
}