<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%=htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
    <title><%=htmlWebpackPlugin.options.title || 'Webpack App'%></title>
    <title>Webpack</title>
</head>
<body>
    
    <div class="wrapper">
        <div id="app">
            <header>

            </header>
            <div class="content-wrapper">
                <section id="main">
                    <div class="container">
                        <h1>Webpack</h1>
                    </div>

                </section>
                <example-component></example-component>

            </div>
            <footer>

            </footer>
            
            
        </div>
    </div>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%=htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
  
</body>
</html>